In [3]:
import os
import pandas as pd

In [7]:
os.chdir(r"C:\Users\kadas\Desktop\prevision_dl\data\raw")

In [11]:
# Charger les soutirages régionaux (consommation électrique)
soutirages = pd.read_parquet("soutirages-regionaux-quotidiens-consolides-rpt.parquet")
print("Soutirages shape:", soutirages.shape)

Soutirages shape: (143846, 57)

In [14]:
soutirages.head(5)

,date_de_la_courbe,code_insee_region,region,secteur_activite_economique,code_tension,libelle_tension,00h00,00h30,01h00,01h30,...,20h30,21h00,21h30,22h00,22h30,23h00,23h30,nombre_de_points_de_soutirage,energie_journaliere,qualite
0,2025-05-01,84,Auvergne-Rhône-Alpes,Autre,6,225 kV,102.584173,102.023702,102.354603,102.072969,...,106.096178,105.174566,105.407989,105.556989,103.945831,104.720358,104.637586,8,2486.519638,Consolidée
1,2025-05-01,27,Bourgogne-Franche-Comté,Autre,3,63 kV,23.561200,23.595685,22.897904,22.847578,...,22.696355,23.016484,24.264011,24.109439,25.498268,25.543942,25.623394,11,565.227528,Consolidée
2,2025-05-01,32,Hauts-de-France,Autre,3,63 kV,56.254500,54.386000,54.372000,55.229000,...,51.853500,53.045500,53.871000,51.959000,52.055000,53.423500,53.461000,16,1283.615000,Consolidée
3,2025-05-01,75,Nouvelle-Aquitaine,Autre,3,63 kV,34.942726,34.905348,34.530277,34.821493,...,35.634007,35.841119,35.376520,35.881718,34.588597,34.260764,34.203300,14,842.474664,Consolidée
4,2025-05-01,75,Nouvelle-Aquitaine,Autre,4,90 kV,34.978000,34.925000,35.245500,40.506000,...,41.182500,41.035500,40.120000,39.910000,41.796000,41.776500,41.789000,10,1000.978000,Consolidée

In [15]:
# Charger les températures quotidiennes
temperatures = pd.read_parquet("temperature-quotidienne-departementale.parquet")
print("Températures shape:", temperatures.shape)
temperatures.head(5)

Températures shape: (268800, 6)

,date_obs,code_insee_departement,departement,tmin,tmax,tmoy
0,2025-06-01,90,Territoire de Belfort,16.3,27.80,22.05
1,2025-06-01,57,Moselle,16.0,24.10,20.05
2,2025-06-01,06,Alpes-Maritimes,17.0,24.83,20.92
3,2025-06-02,08,Ardennes,11.0,21.50,16.25
4,2025-06-02,69,Rhône,17.8,22.55,20.18

In [17]:
# Vérifier les colonnes
print("\nColonnes soutirages:", soutirages.columns.tolist())
print("Colonnes températures:", temperatures.columns.tolist())

# Vérifier valeurs uniques pour les régions/départements
print("\nRégions disponibles:", soutirages['region'].unique()[:10])
print("Départements disponibles:", temperatures['departement'].unique()[:10])

Colonnes soutirages: ['date_de_la_courbe', 'code_insee_region', 'region', 'secteur_activite_economique', 'code_tension', 'libelle_tension', '00h00', '00h30', '01h00', '01h30', '02h00', '02h30', '03h00', '03h30', '04h00', '04h30', '05h00', '05h30', '06h00', '06h30', '07h00', '07h30', '08h00', '08h30', '09h00', '09h30', '10h00', '10h30', '11h00', '11h30', '12h00', '12h30', '13h00', '13h30', '14h00', '14h30', '15h00', '15h30', '16h00', '16h30', '17h00', '17h30', '18h00', '18h30', '19h00', '19h30', '20h00', '20h30', '21h00', '21h30', '22h00', '22h30', '23h00', '23h30', 'nombre_de_points_de_soutirage', 'energie_journaliere', 'qualite']
Colonnes températures: ['date_obs', 'code_insee_departement', 'departement', 'tmin', 'tmax', 'tmoy']

Régions disponibles: ['Auvergne-Rhône-Alpes' 'Bourgogne-Franche-Comté' 'Hauts-de-France'
 'Nouvelle-Aquitaine' "Provence-Alpes-Côte d'Azur" 'Grand Est'
 'Île-de-France' 'Normandie' 'Occitanie' 'Bretagne']
Départements disponibles: ['Territoire de Belfort' 'Moselle' 'Alpes-Maritimes' 'Ardennes' 'Rhône'
 'Haute-Corse' 'Hauts-de-Seine' 'Val-de-Marne' "Val-d'Oise" 'Jura']